name: application pipeline

on:
  push:
    paths:
      - 'app/**'
      - 'ansible/**'

permissions:
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # ---------- Docker Build ----------
      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: docker build -t adithravi/networking-app:${{ github.sha }} ./app

      - name: Push Docker Image
        run: docker push adithravi/networking-app:${{ github.sha }}

      # ---------- Deploy to Azure VM ----------
      - name: Deploy to Azure VM
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            # Install Docker if not installed
            if ! command -v docker &> /dev/null
            then
              sudo apt update -y
              sudo apt install -y docker.io
              sudo systemctl enable docker
              sudo systemctl start docker
              sudo usermod -aG docker $USER
            fi

            sudo docker pull adithravi/networking-app:${{ github.sha }}
            sudo docker stop networking-container || true
            sudo docker rm networking-container || true
            sudo docker run -d \
              --name networking-container \
              -p 80:5000 \
              adithravi/networking-app:${{ github.sha }}
